<ul>
  {{#each model as |post|}}
    <li>
      {{#link-to "post" post.id}}
        {{post.title}}
      {{/link-to}}
      <ul>
        <span>upvotes: {{post.upvotes}}</span> <span>downvotes: {{post.downvotes}}</span>
      </ul>
    </li>
  {{/each}}
</ul>
{{outlet}}